body{
    background-color: #FFF5EE;
}
.user_p1{
    padding: 52px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.user_div1{
    padding: 24px;
    text-align: center;
}
.user_a{
    font-weight: bold;
    margin-right: 24px;
    text-decoration: none;
}
.user_p2{
    font-weight: bold;
    margin: 36px;
    text-align: center;
}
.user_div2{
    margin-top: 16px;
}
.user_div{
    width: 360px;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    margin: 0 auto;
}
.user_input{
    width: 360px;
}
.user_val{
    text-align: center;
}